node_modules/next/next-swc-fallback/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
node_modules/next/next-swc-fallback/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
node_modules/next/next-swc-fallback/@next/swc-linux-x64-gnu/package.json
node_modules/next/next-swc-fallback/@next/swc-linux-x64-gnu/README.md
node_modules/next/next-swc-fallback/@next/swc-linux-x64-musl/package.json
node_modules/next/next-swc-fallback/@next/swc-linux-x64-musl/README.md
