
.friendSuggestionsWrapper {
    min-width: 328px;
    width: fit-content;
    /* border: 1px solid black; */
    /* position: fixed; */
    /* right: 0; */
}

.worthyFoes {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 40px;
}