
.friendSuggestionsWrapper {
    width: 100%;
    /* border: 4px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.worthyFoes {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 40px;
    /* text-align: center; */
    padding: 0px;
}