.scrollRegion {
    width: 500px;
    height: fit-content;
    /* margin-left: 10%; */
}

@media (max-width: 840px) {

    .scrollRegion {
      margin-top: 64px;
}
}
@media only screen and (max-width: 630px) { /*517*/

  .scrollRegion {
    width: 100%;

    background-color: white;
  }

}