/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --color-primary: #ffffff;
  --color-secondary: #171717;
  --color-greyA: #F1F1F1;
  --color-greyB: #E2E2E2;
  --color-cta: #7A00F4;
  --gradient-placeholder: linear-gradient(to bottom left, #E2E2E2, #949494);


  --font-size: 62.5%;
  --border-radiusA: 50px;
  --input-padding: 16px 16px 16px 24px;
  --button-padding: 16px 16px 16px 24px;

  --box-shadowA: 0 0 32px rgba(0, 0, 0, 0.137);
  --box-shadowB: 0 0 64px rgba(0, 0, 0, 0.277);
  --box-shadowC: 0 0px 4px rgba(0, 0, 0, 0.819);
  --box-shadowD: 2px 2px 4px rgba(0, 0, 0, 0.250);

  --scrollbar-track-color: #ffffff;
  --scrollbar-thumb-color: #000000;
  --scrollbar-size: 16px;
  --scrollbar-radius: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--white);
  font-family: 'Inter Variable', sans-serif;
  max-width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

body::-webkit-scrollbar {
  width: var(--scrollbar-size)
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-radius);
  border: 4px solid var(--scrollbar-track-color);
}

button:hover {
  cursor: pointer;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

