
.logo {
    height: 8rem;
    width: 16rem;
    background-image: url("./BombrLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
    /* border: 1px solid black; */
}