
.componentWrapper {
    width: 100vw;
    height: fit-content;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    overflow: auto;
    /* z-index: 900000000; */
    /* background-color: rgba(255, 0, 0, 0.213); */
    /* border: 4px dotted red; */
}

.profileWrapper {
    /* width: 100%; */
    height: fit-content;
    width: fit-content;
    /* max-width: 800px; */
    margin-top: 80px;
    border: 4px dotted red;
    padding: 0 20%;
}

.profileHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 320px;
}

.profileInfo {
    width: 100%;
}

.nameInfoWrapper {
    margin-bottom: 24px;
}

.profilePic {
    min-width: 176px;
    min-height: 176px;
    width: 176px;
    height: 176px;
    background: var(--gradient-placeholder);
    border-radius: 50%;
    border: 1px double var(--color-greyA);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 80px;

    background-image: url("/default-profile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.userNickname {
    font-size: 3.2rem;
    font-weight: 700;
}

.userFullName {
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 60%;
}

.globalStatsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 64px;
    width: 100%;
    margin-bottom: 64px;
}

.userProfileStatWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

.userProfileStatWrapper > h3 {
    font-weight: 500;
}

.userProfileStatWrapper > p {
    font-weight: 300;
}

.userBio {
    font-size: 2rem;
}

.contentList {
    /* column-count: 3; */
    columns: 240px;
}

.contentList > img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadowD);
}

.contentList >img:hover {
    cursor: pointer;
}

.profileNavbar {
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0 32px 0;
}

.navBarButtonsWrapper {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-around;
}


.postListButton {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: 500;
}

.postListButton:hover {
    cursor: pointer;
}

.movingBarWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    transition: margin-left 0.2s ease-in-out;
}

.movingBar {
    background-color: black;
    width: 50%;
    height: 8px;
    border-radius: 16px;
}


#getOutaHere {
    display: none;
}




/* =========== MAIN STUFF ========== */

.main {
    width: 100vw;
    height: fit-content;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    overflow: auto;
    /* z-index: 900000000; */
    /* background-color: rgba(255, 0, 0, 0.213); */
    /* border: 4px dotted red; */
}

.navBarPlaceholder {
    width: 20vw;
    min-width: 256px;
    height: 100vh;
}

.mainContent {

    display: flex;
    flex-direction: column;
    flex: 5;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: 4px dotted purple;
}

.mainChildren {
    /* background-color: rgb(0, 255, 60); */
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.asideWrapper {
    /* background-color: rgb(245, 0, 147); */
    flex: 1.5;
    display: flex;
    justify-content: center;
    box-shadow: var(--box-shadowA);
}

@media (max-width: 1230px) {
   
    .asideWrapper {
        flex: 0;
    }

}
