.stepperWrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 8px dotted red; */
}

.stepperWrapper h2 {
    font-size: 2.8rem;
    margin: 16px 0 24px 0;
    text-align: center;
}

.stepWrapper {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 4px dotted red; */
}

.form  {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.postImageWrapper {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 4px dotted red; */
}

.postImageWrapperStepThree {
    border: 4px dotted red;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.postImage {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    /* object-fit: cover; */
    background-image: url('/post-preview-default.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.postImageStep3 {
    min-width: 120px;
    min-height: 120px;
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.postImageStep4 {
    min-width: 120px;
    min-height: 120px;
    /* width: 120px;
    height: 120px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 12px;
}

.fileInput {
    width: 100%;
    /* background-color: black; */
    /* border: 1px solid red; */
    display: flex;
    display: none;
}

.selectedFile {
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-cta);
}

.em {
    color: black;
    font-style: normal;
    font-weight: bold;
}

.fileInputLabel {
    background-color: black;
    /* border: 1px solid red; */
    min-width: 100%;
    padding: 12px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    white-space: nowrap;
}

.fileInputLabel:hover {
    cursor: pointer;
}

.profileNavbar {
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0 32px 0;
}

.navBarButtonsWrapper {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: space-around;
}

.movingBarWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 16px;
    transition: margin-left 0.2s ease-in-out;
}

.movingBar {
    background-color: black;
    width: 50%;
    height: 8px;
    border-radius: 16px;
}

.postListButton {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: 500;
}

.postListButton:hover {
    cursor: pointer;
}

.searchBar {
    border: none;
    background-color: var(--color-greyA);
    height: 4rem;
    /* width: 51.2rem; */
    width: 100%;
    border-radius: 32px;
    margin-top: 16px;
    background-image: url("/inputSearch.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    font-size: 1.6rem;
    padding: 0 0 0 52px;
    /* position: fixed; */
}

.input {
    border: none;
    background-color: var(--color-greyA);
    height: 4rem;
    width: 100%;
    border-radius: 32px;
    margin-top: 16px;
    font-size: 1.6rem;
    padding: 0 0 0 16px;
}

.contentList {
    columns: 180px;
}

.contentList > img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadowD);
}

.profilePic {
    min-width: 120px;
    min-height: 120px;
    width: 120px;
    height: 120px;
    background: var(--gradient-placeholder);
    border-radius: 50%;
    border: 1px double var(--color-greyA);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/default-profile.png");
    background-size: contain;
    background-position: center;
    /* border: 8px double aquamarine; */
}

.munitionAndTargetWrapper {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow {
    height: 80px;
    width: 80px;
    /* background-color: red; */
    background-image: url('/curved-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 24px;
}

.targetProfilesList {
    width: 100%;
    padding: 0 16px;
}

.viewDamageBtn {
    background-color: var(--color-cta);
    text-decoration: none;
    /* border: 1px solid red; */
    min-width: 100%;
    padding: 12px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-size: 2rem;
    white-space: nowrap;
}

.step4wrapper button {
    display: none;
}

.gif:hover {
    cursor: pointer;
}

.removeImageButton {
    background: none;
    border: none;
    position: relative;
    left: 0;
    top: 0;
}

.bombShapedBorderWrapper {
    position: relative;
    animation: bombStrike 3s cubic-bezier(0,1.31,.83,.67) infinite ;
}


.bombShapedBorder {
    background-image: url('/bombShapedBorder.svg');
    background-position: center;
    background-size: contain;
    z-index: 11111110;
    position: relative;
    width: 165px;
    height: 165px;
    background-repeat: no-repeat;
    position: fixed;
    transform: translate(-11px, -18px);
}

.spinningAnimation {
    animation: spinningInfinite 1s linear infinite;
}

.targetProfileWrapaper {
    cursor: pointer;
}

@media (max-width: 968px) {
.stepperWrapper {
    width: 100%;
    /* background-color:  red; */
}

.newBombview {
    width: 100%;
}

.contentList {
    columns: 540px;
}
    
  }


@media (max-width: 970px) {
    .contentList {
        columns: 110px;
    }
}
@media (max-width: 840px) {
    .stepperWrapper {
        overflow-x: hidden;
        /* width: 100%; */
    }

    .contentList {
        columns: 140px;
    }
}

  @media only screen and (max-width: 630px) { /*517*/

    .outer-container {
    min-width: 100%;
    display: flex;
  
    background-color: white;
  }

  .contentList {
    columns: 140px;
}
  
  .step-circle-container {
    width: 100vw; 
  }

  .stepperWrapper {
    overflow-x: hidden;
    /* width: 100%; */
    /* margin: 16px; */
    /* border: 4px solid red; */
  }

  .searchBar { 
    /* max-width: 90%; */
  }
  }
@keyframes spinningInfinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bombStrike {
    0% {
        transform: translate(-120px, 320px) scale(0.7) rotate(0deg);
    }

    55% {
        transform: translate(0, -100px) scale(1.02) rotate(198deg);
    }

    100% {
        transform: translate(130px, 100px) scale(1.2) rotate(360deg);
    }
}








