.p {
    font-size: 1.2rem;
}

.body {
    font-size: var(--font-size);
}

.loginWrapper {
    display: flex;
    flex-direction: row;
}

.asideArt {
    height: 100vh;
    width: 50vw;
    background-color: var(--color-secondary);
    background-image: url("./register.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 2.4rem rgba(0, 0, 0, 0.365) inset;
}

.formWrapper {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    position: relative;
}

.input {
    width: 100%;
    border: none;
    background-color: var(--color-greyA);
    border: 1px solid var(--color-greyB);
    border-radius: var(--border-radiusA);
    padding: var(--input-padding)
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
}

.loginButton {
    width: 100%;
    padding: var(--button-padding);
    border-radius: var(--border-radiusA);
    border: none;
    background-color: var(--color-cta);
    color: var(--color-primary);
}

.loginButton:hover {
    cursor: pointer;
}

.forgotPassword {
    position: relative;
    right: -34%;
}

.horizontalRow {
    width: 50%;
    margin: 1.6rem;
}

.or {
    font-size: 1.8rem;
    margin-top: 1.6rem;
}

.anchor {
    color: var(--color-cta);
    text-decoration: none;
    font-size: 1.2rem;
}

@media (max-width: 1080px) {
    .asideArt {
        display: none;
    }

    .formWrapper {
        width: 100%;
    }
}